<div class="registration-container">
  <h1>Create an account</h1>
  <p class="subtitle">Please enter your details to register</p>

  <form [formGroup]="form" (ngSubmit)="onRegister()" >
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input 
        type="text" 
        id="fullName" 
        formControlName="fullName" 
        placeholder="Enter your full name"
      >
      <div  
           class="error-message" *ngIf="!form.controls.fullName?.valid &&(form.controls.fullName.touched)">
       <p class="erro-message" >Fullname required!</p>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input 
        type="email" 
        id="email" 
        formControlName="email" 
        placeholder="Enter your email"
      >
      <div  
           class="error-message" *ngIf="!form.controls.email?.valid &&(form.controls.email.touched)">
           <p>Enter Valid Email</p>
       <p class="error-message" *ngIf="!form.controls.email.errors?.['required']"> Email is required!</p>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input 
        type="password" 
        id="password" 
        formControlName="password" 
        placeholder="Enter your password"
      >
      <div 
           class="error-message" *ngIf="!form.controls.password.valid &&(form.controls.password.touched)">
        Password must be at least 6 characters
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input 
        type="password" 
        id="confirmPassword" 
        formControlName="confirmPassword" 
        placeholder="Confirm your password"
      >
      <div 
           class="error-message" *ngIf="!form.controls.confirmPassword.valid &&(form.controls.confirmPassword.touched)">
        <p *ngIf="!form.controls.confirmPassword.errors?.['required']">Confirm Password is required!</p>
        <p *ngIf="!form.controls.confirmPassword.errors?.['passwordMismatch']">Passwords do not match!</p>
      </div>
     
    </div>

    <div class="checkbox-group">
      <input 
        type="checkbox" 
        id="terms" 
        formControlName="termsAccepted"
      >
      <label for="terms">I agree to the Terms of Service and Privacy Policy</label>
      <div 
           class="error-message" *ngIf="!form.controls.termsAccepted?.valid &&(form.controls.termsAccepted.touched)">
        You must accept the terms
      </div>
    </div>

    <button [disabled]="!form.valid" type="submit"  class="submit-button">
      Create Account
    </button>
  </form>

  <div class="login-link">
    Already have an account? <a routerLink="/login">Sign in</a>
  </div>
</div>