<footer class="footer">
    <div class="footer-columns">
      <div>
        <h4>For Job Seekers</h4>
        <a>Browse Jobs</a>
        <a>Uploading a CV</a>
        <a>SKills Adding</a>
      </div>
      <div>
        <h4>For Employers</h4>
        <a>Post a Job</a>
        <a>Recruiting Solutions</a>
        <a>Pricing</a>
      </div>
      <div>
        <h4>Company</h4>
        <a (click)="navigateToAbout()">About Us</a>
        <a (click)="navigateToContact()">Contact</a>
        <a (click)="navigateToPrivacyPolicy()">Privacy Policy</a>
      </div>
      <div>
        <h4>Connect</h4>
        
        <a>LinkedIn</a>
        <a>Facebook</a>
      </div>
    </div>
    <hr>
    <p class="copyright">© 2024 Skill Match AI. All rights reserved.</p>
  </footer>
  