.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .nav-links a, .nav-links .btn {
    margin-left: 1rem;
    cursor: pointer;
    border: 1px solid #6c2bd9;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #6c2bd9;
    color: white;
  }
  .purple {
    background-color: #6c2bd9;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  

  .login a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    border: 1px solid #6c2bd9;
    background-color: #6c2bd9;

  }